<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE config [
    <!ELEMENT config (parser-factory,xsd-path,output)>
    
    <!ELEMENT parser-factory (#PCDATA)>
    
    <!ELEMENT xsd-path (#PCDATA)>
    
    <!ELEMENT output EMPTY>
    <!ATTLIST output indent   CDATA "4"
                     encoding CDATA "UTF-8">
]>
<config>
    <parser-factory>com.sun.org.apache.xerces.internal.jaxp.SAXParserFactoryImpl</parser-factory>
    <xsd-path>/xml/xsd/</xsd-path>
    <output indent="4" encoding="UTF-8"/>
</config>
