<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment></comment>
<entry key="path.open">.</entry>
<entry key="path.save">.</entry>
<entry key="path.export">.</entry>
<entry key="path.manual">Handbuch.pdf</entry>
<entry key="path.log">log/out.txt</entry>

<entry key="log.debug">true</entry>
<entry key="log.debug.level">2</entry>

<entry key="size.default">50</entry>
<entry key="size.small%">70</entry>
<entry key="size.normal%">100</entry>
<entry key="size.large%">150</entry>
<entry key="size.min%">26</entry>
<entry key="size.max%">400</entry>
<entry key="size.scaleStep%">8</entry>

<entry key="font.size.default">12</entry>
<entry key="font.name">Dialog</entry>

<entry key="notation.default">0</entry> 

<entry key="view.pathname">true</entry>
<entry key="view.version">false</entry>

<entry key="dummy.transparency">0.3</entry>
<entry key="disabled.transparency">0.2</entry>

<entry key="size.height.MainFrame">700</entry>
<entry key="size.width.MainFrame">1000</entry>
<entry key="size.height.Elements">500</entry>
<entry key="size.width.Elements">100</entry>
<entry key="size.height.Navigator">217</entry>
<entry key="size.width.Navigator">200</entry>
<entry key="size.height.ObjectInspector">250</entry>
<entry key="size.width.ObjectInspector">200</entry>
<entry key="size.height.Properties">270</entry>
<entry key="size.width.Properties">200</entry>
<entry key="size.height.property">50</entry>
<entry key="size.width.BusinessRulesDialog">768</entry>
<entry key="size.height.BusinessRulesDialog">420</entry>
<entry key="size.width.ErrorSummaryFrame">520</entry>
<entry key="size.height.ErrorSummaryFrame">320</entry>

<entry key="screen.fullscreen">false</entry>

<entry key="color.background">FFFFFF</entry>
<entry key="color.foreground">0046D5</entry>
<entry key="color.background.diagram">FFFFFF</entry>
<entry key="color.border.diagram">000000</entry>

<entry key="color.border.selectionbox">262626</entry>
<entry key="color.background.selectionbox">C3C3C3</entry>

<entry key="color.text.default.component">000000</entry>
<entry key="color.text.focused.component">F27213</entry>
<entry key="color.text.selected.component">1562F0</entry>
<entry key="color.text.clicked.component">1562F0</entry>
<entry key="color.text.inDockMode.component">00DE00</entry>

<entry key="color.border.default.component">000000</entry>
<entry key="color.border.focused.component">F27213</entry>
<entry key="color.border.selected.component">1562F0</entry>
<entry key="color.border.clicked.component">1562F0</entry>
<entry key="color.border.inDockMode.component">00DE00</entry>

<entry key="color.anchor.node">FF0000</entry>
<entry key="color.anchor.point">FFFFFF</entry>
<entry key="color.anchor.clicked">00DE00</entry>
<entry key="color.anchor.border">000000</entry>

<entry key="color.fill.default.node">CFFFFFFF</entry>

<entry key="color.error1">CFFFF948</entry>
<entry key="color.error2">CFFF8912</entry>
<entry key="color.error3">CFFF0000</entry>

<entry key="setting.autoEdgeDocking">true</entry>
<entry key="setting.autoEdgeDocking.attribute-attribute">true</entry>
<entry key="setting.autoEdgeDocking.attribute-entity">true</entry>
<entry key="setting.autoEdgeDocking.entity-attribute">true</entry>
<entry key="setting.autoEdgeDocking.attribute-relationship">true</entry>
<entry key="setting.autoEdgeDocking.relationship-attribute">true</entry>
<entry key="setting.autoEdgeDocking.entity-relationship">true</entry>
<entry key="setting.autoEdgeDocking.relationship-entity">true</entry>
<entry key="setting.autoEdgeDocking.entity-entity">true</entry>
<entry key="setting.autoEdgeDocking.entity-generalizationSpot">true</entry>
<entry key="setting.autoEdgeDocking.generalizationSpot-entity">true</entry>

<entry key="setting.graphics.delay">10</entry>
<entry key="setting.graphics.delay.min">0</entry>
<entry key="setting.graphics.delay.max">40</entry>
<entry key="setting.graphics.delay.step">2</entry>
<entry key="setting.graphics.directpainting">false</entry>
<entry key="setting.graphics.antialiasing">true</entry>
<entry key="setting.multiThreading">true</entry>
<entry key="setting.multiPaste">true</entry>
<entry key="setting.border">false</entry>
<entry key="setting.border.extended">false</entry>

<entry key="setting.dragborder.width">20</entry>

<entry key="setting.converting.default">3</entry>

<entry key="setting.page.margin">25</entry>
<entry key="setting.page.tablewidth">776</entry>
<entry key="setting.page.entrywidth">150</entry>
<entry key="setting.page.pdfShrink">10</entry>

</properties>
