<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<HTML xmlns="http://www.w3.org/1999/xhtml">
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8" />
<TITLE><diagram_name></TITLE>
</HEAD>

<BODY style="font-size:<fontsize>">
<P style="font-size:1.4em"><diagram_name></P>
<P><diagram_description></P>
<!-- image begin -->
<P>
  <object data="<image_path>" type="image/svg+xml" width="<image_width>" height="<image_height>">
  	<param name="src" value="<image_path>">
    &lt;SVG-Image&gt;
  </object>
</P>
<!-- image end -->
<P style="font-size:1.1em">Business Rules</P>
<!-- entity table begin -->
<TABLE WIDTH="<tablewidth>" BORDER="1" CELLSPACING="0" CELLPADDING="2" bordercolor="#F0F0F0">
  <TR>
    <TH width="<entrywidth>" SCOPE="col"><entity></TH>
    <TH width="<entrywidth2>" SCOPE="col"><description></TH>
    <TH width="<entrywidth>" SCOPE="col"><attributes></TH>
    <TH width="<entrywidth>" SCOPE="col"><identificator></TH>
  </TR>
  <entity_description_rows>
</TABLE>
<P></P>
<!-- entity table end -->
<!-- relationship table begin -->
<TABLE WIDTH="<tablewidth>" BORDER="1" CELLSPACING="0" CELLPADDING="2" bordercolor="#F0F0F0">
  <TR>
    <TH width="<entrywidth>" SCOPE="col"><relationship></TH>
    <TH width="<entrywidth2>" SCOPE="col"><description></TH>
    <TH width="<entrywidth>" SCOPE="col"><participating_entities></TH>
    <TH width="<entrywidth>" SCOPE="col"><attributes></TH>
  </TR>
  <relationship_description_rows>
</TABLE>
<P></P>
<!-- relationship table end -->
<!-- constraint table begin -->
<table width="<tablewidth>" border="1" cellspacing="0" cellpadding="2" bordercolor="#F0F0F0">
  <tr>
    <th colspan="2" scope="col"><constraints></th>
  </tr>
  <constraint_rows>
</table>
<p></p>
<!-- constraint table end -->
<!-- derivation table begin -->
<table width="<tablewidth>" border="1" cellspacing="0" cellpadding="2" bordercolor="#F0F0F0">
  <tr>
    <th colspan="2" scope="col"><derivations></th>
  </tr>
  <derivation_rows>
</table>
<!-- derivation table end -->
</BODY>

</HTML>
